div(class='field' body-only-if='!data.field')
  label(if='data.field') $data.field
  div(class='ui $data.ui input' body-only-if='!data.ui')
    input(type='$data.type' value='$data.value' name='$data.name' placeholder='$data.placeholder' tab-index='$data.tab')
