div(class='$data.field field' body-only-if='!data.field')
  div(class='ui $data.ui slider checkbox')
    input.hidden(type='checkbox' name='$data.name' checked='$data.checked' tabindex='$data.tab')
    label $data.label
